* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

/* variable */
:root {
   --mdyo-light-blue: #336699;
   --mdyo-dark-blue: #003366;
   --white: #fff;
   --yellow-orange: #ffcc66;
   --arial-font: arial;
}

/* border component */
.border {
   border: 1px solid black;
}

/* header */
nav {
   /* nav */
   padding: 1rem;
   display: flex;
   justify-content: space-between;
   align-items: center;
   background-color: var(--mdyo-light-blue);
}

.logo {
   /* logo */
   font-size: 34px;
   font-family: Broadway;
}

ul {
   list-style: none;
   margin-right: 3.5rem;
}
li {
   display: inline;
}

a {
   margin-right: 3rem;
   font-size: 18px;
   font-family: var(--arial-font);
   text-decoration: none;
   color: var(--white);
}

a:hover {
   color: var(--yellow-orange);
}

/* about paragraph */
.about {
   font-family: var(--arial-font);
   font-size: 25px;
   width: 40%;
   margin: 0 auto;
   text-align: justify;

   margin-top: 4rem;
}

/* header */

/* Main */
.blogsSection {
   margin-top: 5rem;
   padding: 1rem;
   background-color: var(--yellow-orange);
   font-family: var(--arial-font);
}

.blogsSection h1 {
   margin: 1rem 0 2rem 0;
   text-align: center;
   font-size: 2rem;
   color: var(--mdyo-light-blue);
}

.game-board {
   font-family: var(--arial-font);
   margin-top: 1rem;
   display: grid;
   grid-template-rows: auto;
   grid-template-columns: repeat(3, 300px);
   justify-content: center;
   grid-gap: 4rem;
}

.box {
   padding: 1rem;
   text-align: justify;
   border: 1px solid var(--mdyo-dark-blue);
   color: #000;
}

/* Main */
